@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&family=Qwitcher+Grypen&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
}

.main {
  background-image: url("Resources/images/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: #000;
}

nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

nav img {
  margin-top: 15px;
  color: red;
  width: 150px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;

  position: relative;
  height: calc(100% - 60px); /* Subtract navbar */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 20px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400px;
  font-size: 20px;
  text-align: center;
}

/* .separation {
  height: 6px;
  color: white;
} */

.separation {
  height: 6px; /* Decreased height for a thinner separation */
  background-color: rgb(58, 57, 57); /* Semi-transparent white */
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  background-color: rgba(248, 243, 243, 0.021);
  color: #fff;
  border: 1px solid rgba(158, 152, 152, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: #fff;
  padding: 2px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}

.btn-red-sm {
  padding-top: 2px;
  background-color: red;
  color: #fff;
}

.hero -buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
  color: #fff;
}
/*  */

/* first section */

/*  */
.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: #fff;
  align-items: center;
  height: 600px;
}

.sectionOne img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.sectionOne {
  position: relative;
}

.sectionOne video {
  position: absolute;
  top: 51px;
  right: 0;
}

section.first > div {
  display: flex;

  flex-direction: column;
  padding: 34px 0;
}

.first > div :nth-child(1) {
  font-size: 40px;
  font-weight: bolder;
}

.first > div :nth-child(2),
:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
}

.faq {
  background-color: #000;
  color: #fff;
  padding: 50px 34px 34px 34px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}

.faqbox:hover {
  background-color: #414141;
}
.faqbox {
  transition: all 1s ease out;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 10px auto;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
}

footer {
  color: #fff;
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

.questions {
  padding: 34px 0px;
  padding-bottom: 16px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: #fff;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer-item a {
  font-size: 14px;
  color: #fff;
}
